html {
    overflow-y: visible;
}

#header.isStuck {
    top: 35px;
}

.show-admin-bar #header.isStuck {
    top: 67px;
}

#resume-cover-image {
    top: 35px;
}

#single-resume #resume-cover-image,
#single-company #resume-cover-image,
#single-job #resume-cover-image {
    top: 0px;
}

.show-admin-bar #resume-cover-image {
    top: 67px;
}

#single-resume.show-admin-bar #resume-cover-image,
#single-company.show-admin-bar #resume-cover-image,
#single-job.show-admin-bar #resume-cover-image {
    top: 32px;
}

#single-resume #header, #single-company #header, #single-job #header  {
    top: 35px;
}
/*
#single-resume.show-admin-bar #header, #single-company.show-admin-bar #header, #single-job.show-admin-bar #header  {
    top: 67px;
}*/

#header {
    z-index: 60;
}

.wrapping #top {
    z-index: 50;
    margin-top: 35px;
}

.show-admin-bar #top {
    margin-top: 67px;
}

.upperPanel {
    font-family: Arial, sans-serif;
    line-height: 1.3;
}

.upperPanel button,
.upperPanel input {
    background: none;
    border: none;
    color: #2980b9;
    /* display: inline-block; */
    padding: 11px 24px 10px;
    text-decoration: none;

    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;

    cursor: pointer;
    padding: 0px;
    float: left;
    display: block;

    margin-right: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-transform: none;
    margin-bottom: 0px;
}

.upperPanel input:hover {
    background-color: #fff;
}

.upperPanel .upperBut:hover {
    padding: 0px;
}

.upperSearch {
    height: 29px;
}

.upperForm input[type=submit], .upperForm input[type="submit"]:active {
    background-color: #50a81b;
    color: #fff;
    padding: 0px;
}

.upperForm input {
    float: none;
}

.upperForm #remember {
    margin: 3px 3px 3px 4px;
    width: auto;
    float: left;
}

.show-admin-bar .upperPanel {
    top: 32px;
}

#wpcrown-blog, #wpcrown-blog-v2, #recipe-page, #my-account, #blog, #blog-post, #page, #homepage, #need-company-profile {
    z-index: 50;
}

#big-map {
    z-index: 40;
}

.wrapping {
    word-spacing: 0px;
}

.wrapping input[type="text"] {
    color: #999999;
    border: 1px solid #ecf0f1;
    border-left: 1px solid #ecf0f1;
    border-top: 1px solid #ecf0f1;
    padding: 10px 10px;
}

.wrapping form {
    clear: none;
}