.select2-container input, .select2-container textarea {
    float: none;
    margin-bottom: 0px;
}

.select2-selection--single .select2-selection__rendered,
input.select2-search__field {
    font-size: 16px !important;
}

input.select2-search__field {
    padding: 10px 0px;
    margin-top: 0px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    display: block;
}


.attachment-filters {
    background: #FFFFFF;
}